{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <strong>
        Published: {{ post.created_on }} | By {{ post.author }}
    </strong>
    <p>{{ post.body }}</p>
    <a href="{% url 'post_list' %}">Back to all entries</a><br>
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' post.id %}" class="btn btn-warning">
            Edit
        </a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">
            Delete
        </a>
    {% endif %}
{% endblock content %}