{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Change your password</h1>
                <p>Enter your password below, for security reasons, then choose a new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="Change">
                 </form>
            </div>
        </div>
    </div>
    {% endblock content %}