{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Confirm Password Reset{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Reset your password.</h1>
            <p>Choose a new password and enter it below.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Reset">
             </form>
        </div>
    </div>
</div>
{% endblock content %}